@import '~bootstrap/dist/css/bootstrap.css';
@import '~bootstrap-vue/dist/bootstrap-vue.css';

html {
  overflow-y: scroll;
}

.beer-color {
  width: 30px;
  height: 30px;
}

.beer-color-gradient-bar {
  height: 20px;
  position: relative;
}
.beer-color-gradient-bar-marker {
  width: 2px;
  height: 100%;
  background-color: black;
  position: absolute;
}

.range-bar {
  height: 20px;
  position: relative;
}
.range-bar-marker {
  width: 2px;
  height: 100%;
  background-color: black;
  position: absolute;
}
